*{
    margin: 0;
    padding: 0;
}
@media (max-width:1920px) and (min-width:1080px) {
    header{
        background-color: #823D23;
        position: relative;
        margin-top:-1%;
        padding: 21px;
        width: 96.9%;
        height: 40px;
    }
    .logo{
        margin-top: -5px;
    }
    body{
        margin: 0px;
        padding: 0px;
    }
    nav{
        background-color: black;
        margin-top: 36px;
        margin-left: 34px;
        width: 89.5%;
        height: 25px;   
    }
    .menu{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        background-color: #823D23;
    }
    .menu-item {
        position: relative;
    }
    .menu-item a {
        display: block;
        padding: 14px 20px;
        color: white;
        text-decoration: none;
        
    }
    .menu-item a:hover {
        background-color: #823D23;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: 823D23;/* */ 
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .dropdown-content li {
        padding: 12px 16px;
    }
    
    .dropdown-content li a {
        color: black;
        text-decoration: none;
    }
    
    .dropdown-content li a:hover {
        background-color: #fff ; /* red*/
    }
    .menu-item:hover .dropdown-content {
        display: block;
    }
   
    a{
        color: #fff;
        margin-left: 20px;
        padding: 0px;
    }

    .item1{
        position: absolute;
        margin-left: 25px;
        margin-top: 5px;
    }
    .item2{
        position: absolute;
        margin-left: 100px;
        margin-top: 5px;
    }
    .item3{
        position: absolute;
        margin-left: 270px;
        margin-top: 5px;
    }
    .item4{
        position: absolute;
        margin-left: 200px;
        margin-top: 5px;
    }
    #img1{
        width: 90%;
        height: 15vw;
        margin-top: -5px;
        margin-left: 30px;
    }
    .conteiner{
        margin-top: 20px;
    }
    .cards{
        width: 30%;
        height: 30%;
    }
    #card1{
        margin-top: 10px;
        margin-left: 13px;
    }
    #preco1{
        margin-left: 440px;
        margin-top: -130px;
    }
    #card2{
        margin-top: 120px;
        margin-left: 10px;
    }
    #preco2{
        margin-left: 440px;
        margin-top: -130px;
    }
    #card3{
        
        margin-top: 130px;
        margin-left: 10px;
    }
    #preco3{
        
        margin-left: 440px;
        margin-top: -100px;
       
    }
    #card4{
        margin-top:  -810px;
        margin-left: 700px;
        width: 370px;
        height: 220px;
    }
    #preco4{
        margin-left: 1100px;
        margin-top: -780px;
    }
    #card5{
        margin-top:  -550px;
        margin-left: 700px;
        width: 370px;
        height: 280px;
    }
    #preco5{
        position: absolute;
        margin-left: 1100px;
        margin-top: -470px;
    }
    #card6{
        margin-top:  -217px;
        margin-left: 700px;
        width: 370px;
        height: 280px;
        
    }
    #preco6{
        margin-left: 1100px;
        margin-top: -100px;
    }
    footer{
        background-color:#823D23;
        margin-top: 10%;
        height: 80px;
        width: 99.9%;
        display: flex;
        justify-content: center;
        padding: auto;
        position: absolute;
    }
}